<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

  <route
      id="kikwik_db_trans_bundle_translation_edit"
      path="_translation/{dbDomain}/{messageId}"
      controller="kikwik_db_trans.controller.trans_controller:edit"
      methods="GET,POST"
  />

</routes>